*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100vw;
    /* overflow:hidden; */
    background-image:url(images/galaxy.png);
    background-repeat:no-repeat;
    background-size:cover;
    animation:move 7s linear infinite alternate;
}

@keyframes move{
    from{background-position:0% 0%;}
    to{background-position:10% 10%;}
}

.space{
    position:relative;
    height:100%;
    width:100%;
}

.sun{
    position:absolute;
    top:54%;
    left:47%;
}

.sun img{
    width:100px;
}

.orbit-mercury, .orbit-earth, .orbit-jupiter,.orbit-uranus{
    position:absolute;
    border-radius:50%;
    border:1px solid rgb(212, 208, 208);
    animation:rotateClock linear infinite;
}

.orbit-venus,.orbit-mars,.orbit-saturn,.orbit-neptune{
     position:absolute;
    border-radius:50%;
    border:1px solid rgb(212, 208, 208);
    animation: rotateAntiClock linear infinite;
}
@keyframes rotateClock{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@keyframes rotateAntiClock{
    from{
        transform: rotate(360deg);
    }
    to{
        transform:rotate(0deg) ;
    }
}
.orbit-mercury{
    height:180px;
    width:180px;
    top:48.5%;
    left:44.5%;
    animation-duration:6s;
}
.orbit-mercury img{
    position:absolute;
    width:60px;
    top:-30px;
    left:70px;
}

.orbit-venus{
    height:280px;
    width:280px;
    top:42%;
    left:41.4%;
    animation-duration:12.4s;
}
.orbit-venus img{
    position:absolute;
    width:60px;
    top:-30px;
    left:120px;
}

.orbit-earth{
    height:380px;
    width:380px;
    top:35.5%;
    left:38.5%;
    animation-duration:11s;
}
.orbit-earth img{
    position:absolute;
    width:60px;
    top:-30px;
    left:170px;
}

.orbit-mars{
    height:480px;
    width: 480px;
    top:28.7%;
    left:35.5%;
    animation-duration:9s;
}
.orbit-mars img{
    position:absolute;
    width:60px;
    top:-30px;
    left:220px;
}

.orbit-jupiter{
    height:580px;
    width: 580px;
    top:22.5%;
    left:32.5%;
    animation-duration:8.5s;
}
.orbit-jupiter img{
    position:absolute;
    width:60px;
    top:-30px;
    left:270px;
}

.orbit-saturn{
    height:680px;
    width:680px;
    top:15.7%;
    left:29.2%;
    animation-duration:11s;
}
.orbit-saturn img{
    position:absolute;
    width:60px;
    top:-30px;
    left:320px;
}

.orbit-uranus{
    height:770px;
    width:770px;
    top:9.6%;
    left:26.5%;
    animation-duration:10s;
}
.orbit-uranus img{
    position:absolute;
    width:60px;
    top:-30px;
    left:370px;
}

.orbit-neptune{
    height:870px;
    width:870px;
    top:3.5%;
    left:23.5%;
    animation-duration:8s;
}
.orbit-neptune img{
    position:absolute;
    width:60px;
    top:-30px;
    left:420px;
}